{%extends 'base.html'%}

{%block title%}Code Store - Home{%endblock%}

{%block content%}

<div class="container">
    <h3>Our Products</h3>
    <div class="container my-3 mx-3">
        <ul class="list-unstyled d-flex ">
            {% for product in products %}
            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{product.price}}</li>
                            <a href="#" class="card-link text-center my-2">buy Product</a>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{%endblock%}